/*
    Header
*/

header{
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
}
h1,h3{
    margin: 0px;
    padding: 20px 0px;;
}
ul{
    list-style: none;
    padding: 10px;
    margin: 0px;
}
.firma{
    padding: 0px;
}
.logo{
    height: 80px;
    padding-right: 15px;
}

/*
    Body
*/

body {
    font-family: 'Nunito', sans-serif;
}

/*
    Footer
*/

footer{
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

/*
    Media Query Header
 */

@media only screen and (max-width: 700px) {
    header h1 {
        display: none;
    }
    header h3 {
        display: none;
    }
    ul {
        text-align: center;
        justify-content: center;
        position: center;
        display: inline-block;
    }
}
@media only screen and (min-width: 700px) {
    header .dropdown {
        display: none;
    }
}
